.logo, h1, h2, h3 {
    font-family: "Orbitron", sans-serif;
}

.hero-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
    font-family: "Share Tech Mono", monospace;
    background: #000;
    color: #fff;
}

footer {
    width: 100%;
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
    color: #00E4FF50;
    border-top: 1px solid #00E4FF50;
    margin-top: 60px;
}

.header {
    width: 100%;
    padding: 24px 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.header .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: "Orbitron", sans-serif;
    font-size: 24px;
    letter-spacing: 10px;
    text-shadow: 0 0 15px #fff;
}

.nav a {
    margin-left: 32px;
    text-decoration: none;
    color: #c8c8c8;
    
    font-size: 14px;
    letter-spacing: 2px;
}

.nav a:hover {
    color: #00E4FF;
}



.hero-video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0; 
    opacity: 1; 
}

.hero {
  height: 100vh;
  width: 100%;
  max-width: none;
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding-top: 80px;
  padding-bottom: 40px;
}

.hero-title {
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  font-size: 110px;
  line-height: 100%;
  letter-spacing: 10px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
}

.hero-tagline {
  font-family: 'Share Tech Mono', monospace;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 6px;
  margin-top: 18px;
  color: #00E4FFFF;
}

.hero-button {
  margin-top: 40px;
  padding: 14px 36px;
  border: 1px solid #00E4FF;
  color: #00E4FF;
  text-decoration: none;
  font-family: 'Share Tech Mono', monospace;
  letter-spacing: 4px;
  font-size: 14px;
  transition: 0.3s ease;
}

.hero-button:hover {
  background: #00E4FF;
  color: black;
}

.hero-overlay-dark {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    #00000000 0%,
    #00000099 65%,
    #000000FF 100%
  );
  z-index: 1;
}

.hero-overlay-full {
  position: absolute;
  inset: 0;
  background: #00000060;
  z-index: 1;
}

.hero-title,.hero-tagline,.hero-button {
  position: relative;
  z-index: 5;
}

.hero-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
}

/* Section - 2 */

.intel-section {
    width: 100%;
    height: 900px;
    margin-top: 40px;
    padding: 80px 0 40px 0;
    background: #000;
    text-align: center;
}

.intel-title {
    font-family: 'Orbitron', sans-serif;
    font-size: 48px;
    letter-spacing: 4px;
    margin-top: 0;
    margin-bottom: 10px;
}

.intel-divider {
    width: 72px;
    height: 2px;
    background: #00E4FFB3;
    margin: 30px auto 40px auto;
}

.intel-subtext {
    font-family: 'Share Tech Mono', monospace;
    font-size: 18px;
    color: #c8c8c880;
    margin-bottom: 10px;
    letter-spacing: 4px;
}

.section-highlights {
    position: relative;
    width: 100%;
    height: 900px; 
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 120px;
    overflow: hidden;
}

.highlights-title {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    font-size: 48px;
    letter-spacing: 4px;
    color: #ffffff;
    z-index: 2;
}

.highlights-subtext {
    font-family: 'Share Tech Mono', monospace;
    width: 720px;
    color: #c8c8c880;
    margin-top: 10px;
    line-height: 150%;
    letter-spacing: 4px;
    font-size: 18px;
    text-align: center;
    z-index: 2;
}

.cards-row {
    margin-top: 100px;
    display: flex;
    gap: 60px;
    justify-content: center;
    z-index: 3;
}

.card {
    width: 330px;
    padding: 34px 32px;
    border: 1px solid #00E4FF45;
    background: #00000012;
    box-shadow: 0 0 160px #00E4FF18 inset;
    border-radius: 10px;
    backdrop-filter: blur(14px);
}

.card-sector {
    text-align: left;
    color: #00E4FF;
    font-family: 'Share Tech Mono', monospace;
    letter-spacing: 4px;
    font-size: 12px;
}

.card-heading {
    text-align: left;
    margin-top: 18px;
    margin-bottom: 4px;
    font-family: 'Orbitron', sans-serif;
    font-size: 28px; 
    font-weight: 700;
    letter-spacing: 4px; 
    color: #FFFFFFFF; 
    line-height: 110%;
    text-transform: uppercase;
}

.card-text {
    text-align: left;
    width: 100%;
    margin-top: 10px;
    line-height: 170%;
    letter-spacing: 1.5px;
    font-family: 'Share Tech Mono', monospace;
    font-size: 14px; 
    color: #C8C8C870;
}

.card-threat {
    text-align: left;
    margin-top: 12px;
    font-family: 'Orbitron', sans-serif;
    font-size: 14px;
    letter-spacing: 3px;
    color: #00E4FF;
}

/* section -4  */

.section-heroes {
  position: relative;
  width: 100%;
  padding: 120px 0 140px 0;
  background: #000000;
  text-align: center;
  overflow: hidden;
}

.heroes-title {
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  font-size: 62px;
  line-height: 120%;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 50px;
  z-index: 2;
  position: relative;
}

.heroes-divider {
  width: 120px;
  height: 0;
  border-bottom: 2px solid #00E4FF60;
  margin: 0 auto 40px auto;
  z-index: 2;
}

.heroes-text {
  font-family: 'Share Tech Mono', monospace;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 1px;
  margin: 0 auto;
  width: 70%;
  color: #c8c8c880;
  z-index: 2;
  position: relative;
}