.logo, h1, h2, h3 {
    font-family: "Orbitron", sans-serif;
}
body {
    font-family: "Share Tech Mono", monospace;
    background: #000;
    color: #fff;
}

footer {
    width: 100%;
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
    color: #00E4FF50;
    border-top: 1px solid #00E4FF50;
    margin-top: 60px;
}

.header {
    width: 100%;
    padding: 24px 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.header .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: "Orbitron", sans-serif;
    font-size: 24px;
    letter-spacing: 10px;
}

.nav a {
    margin-left: 32px;
    text-decoration: none;
    color: #c8c8c8;
    
    font-size: 14px;
    letter-spacing: 2px;
}

.nav a:hover {
    color: #00E4FF;
}

/* Card link reset */
.cards-row a {
    text-decoration: none;
    color: inherit;
}



.hero-video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0; 
    opacity: 1; 
}

.hero {
  min-height: 100vh;
  width: 100%;
  max-width: none;
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: 120px 20px 80px;
}

.hero-title {
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  font-size: 110px;
  line-height: 100%;
  letter-spacing: 10px;
  color: #ffffff;
  text-shadow: #ffffff 0px 0px 20px;
  text-transform: uppercase;
  margin: 0;
}

.hero-tagline {
  font-family: 'Share Tech Mono', monospace;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 6px;
  margin-top: 18px;
  color: #00E4FFFF;
}

.hero-button {
  margin-top: 40px;
  padding: 14px 36px;
  border: 1px solid #00E4FF;
  color: #00E4FF;
  text-decoration: none;
  font-family: 'Share Tech Mono', monospace;
  letter-spacing: 4px;
  font-size: 14px;
  transition: 0.3s ease;
}

.hero-button:hover {
  background: #00E4FF;
  color: black;
}

.hero-overlay-dark {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    #00000000 0%,
    #00000099 65%,
    #000000FF 100%
  );
  z-index: 1;
}

.hero-overlay-full {
  position: absolute;
  inset: 0;
  background: #00000040;
  z-index: 1;
}

.hero-title,.hero-tagline,.hero-button {
  position: relative;
  z-index: 5;
}

/* Section - 2 */

.section-lore {
    position: relative;
    width: 100%;
    height: 900px;
    gap:60px;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-top: 60px;
}

.lore-glow {
    position: absolute;
    top: 32%;
    left: 50%;
    width: 1468px;
    height: 380px;
    transform: translate(-50%, -50%);
    background: radial-gradient(
        ellipse at center,
        #00E4FF95 0%,
        #000000 40%
    );
    filter: blur(80px);
    z-index: 0;
}

.lore-title {
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    letter-spacing: 4px;
    color: #FFFFFF;
    z-index: 2;
}

.lore-divider {
    margin-top: 10px;
    width: 72px;
    height: 2px;
    background: #00E4FFB3; 
    z-index: 2;
}

.lore-text {
    margin-top: 20px;
    font-family: "Share Tech Mono", monospace;
    font-size: 18px;   
    line-height: 160%; 
    color: #FFFFFF80;  
    font-weight: 400;
    letter-spacing: 4px;
    text-align: center;
    z-index: 2;
}

.lore-welcome {
    margin-top: 20px;
    font-family: "Share Tech Mono", monospace;
    font-size: 16px;
    color: #FFFFFFB3;
    z-index: 2;
}



.section-highlights {
    position: relative;
    width: 100%;
    height: 900px; 
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 120px;
    overflow: hidden;
}

.highlights-glow {
    position: absolute;
    top: 55%;
    left: 50%;
    width: 1800px;
    height: 400px;
    transform: translate(-50%, -50%);
    background: radial-gradient(
        ellipse at center,
        #00E4FF90 0%,
        #000000 100%
    );
    filter: blur(120px);
    z-index: 0;
}

.highlights-title {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    font-size: 48px;
    letter-spacing: 4px;
    color: #ffffff;
    z-index: 2;
}

.highlights-subtext {
    font-family: 'Share Tech Mono', monospace;
    width: 720px;
    color: #c8c8c880;
    margin-top: 40px;
    line-height: 150%;
    letter-spacing: 4px;
    font-size: 18px;
    text-align: center;
    z-index: 2;
}

.cards-row {
    margin-top: 80px;
    display: flex;
    gap: 32px;
    z-index: 3;
}

.card {
    width: 300px;
    height: 420px;                 /* don't change same height for all cards */
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 1px solid #00E4FF45;
    background: #00000008;
    box-shadow: 0 0 120px #00E4FF18 inset;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    scrollbar-width: none;
}

.card-sector {
    color: #00E4FF;
    font-family: 'Share Tech Mono', monospace;
    letter-spacing: 4px;
    font-size: 12px;
    text-align: left;
}

.card-heading {
    margin-top: 10px;
    font-family: 'Orbitron', sans-serif;
    font-size: 28px; 
    font-weight: 700;
    letter-spacing: 4px; 
    color: #FFFFFFFF; 
    line-height: 110%;
    text-transform: uppercase;
    text-align: left;
}

.card-text {
    width: 100%;
    margin-top: 14px;
    font-family: 'Share Tech Mono', monospace;
    font-size: 14px;
    line-height: 150%;
    color: #C8C8C870;
    text-align: left;
    overflow: visible;  
    display: block;
}

/* section -4  */

.section-heroes {
  position: relative;
  width: 100%;
  padding: 180px 0;
  background: #000000;
  text-align: center;
  overflow: hidden;
}

.heroes-title {
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  font-size: 62px;
  line-height: 120%;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 50px;
  z-index: 2;
  position: relative;
}

.heroes-text {
  font-family: 'Share Tech Mono', monospace;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 1px;
  margin: 0 auto 50px auto;
  color: #c8c8c880;
  z-index: 2;
  position: relative;
}

.heroes-divider {
  width: 120px;
  height: 0;
  border-bottom: 2px solid #00E4FF60;
  margin: 0 auto 40px auto;
  z-index: 2;
}

.heroes-bottom {
  font-family: 'Share Tech Mono', monospace;
  font-size: 20px;
  letter-spacing: 3px;
  color: #00E4FF75;
  z-index: 2;
  position: relative;
}

/* Hero audio button */

.hero-audio-btn {
  position: absolute;
  bottom: 40px;
  right: 40px;
  z-index: 8;
  padding: 14px 36px;
  border: 1px solid #00E4FF;
  color: #00E4FF;
  background: transparent;
  font-family: 'Share Tech Mono', monospace;
  letter-spacing: 4px;
  font-size: 14px;
  cursor: pointer;
}

.hero-audio-btn:hover {
  background: #00E4FF;
  color: #000;
}